/* Main Content Styles */
.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 240px; /* Add this line to create space for the navbar */
    background-color: #f7faff;
    overflow: auto;
    overflow-x: hidden;
  }

/* Page Layout */
.fileUploadPage {
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center the content */
    display: flex;
    height: 100vh;
    width: calc(100vw - 240px);
    background-color: #f7faff;
     /* Adjust this value based on the width of your navbar */
}

.file-uploader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    background-color: #3a4b7a;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
    color: #9e9dff;
}

.amplify-fileuploader {
    width: 100%;
    margin-bottom: 20px;
}