/* MyFiles.css */
.my-files-content{
  background-image: url("../../assets/Background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex: 1;
}
.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  
}
.file-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  }
  /* Page Layout */
.myFilesPage {
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the content */
  display: flex;
  width: 100%;
  max-width: 1200px;
   /* Adjust this value based on the width of your navbar */
  padding: 5% 20px 0 20px;
  margin: 0 auto; /* Center the content */
  opacity: 0;
  animation: fadeIn 0.6s forwards ease-in-out;
  box-sizing: border-box;
}

.view-buttons .file-button {
  position: relative; 
  margin: 0 10px; /* So there's a 20px gap total between two buttons */
}

  /* Perfectly Centered Separator Between Buttons */
  .view-buttons .file-button:not(:last-child)::after {
    content: "";
    position: absolute;
    /* Put the separator into the margin area between this button and the next: */
    right: -10px;  
    top: 50%;
    transform: translate(50%, -50%);
    width: 1px;
    height: 60%;
    background: rgba(0, 0, 0, 0.2);
  }
  .view-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 50px;
  }
  
  .file-button {
    background: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3sease-in-out;
    border-radius: 25px;

  }
 
  .view-buttons button:hover {
    background: linear-gradient(135deg, #1abc9c, #0a3d62);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
  }
  .file-button.active {
    background: linear-gradient(135deg, #3a4b7a, #5c6bc0); /* Different color for active button */
    color: white;
    
  }

  .delete-button {
    background: linear-gradient(135deg, #5c6bc0, #7a8dc9);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: absolute; /* Position the delete button */
    top: 5px; /* Adjust the position as needed */
    right: 5px; /* Adjust the position as needed */
  }

  h3 {
    color: #6b77a1;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .page-title{
    font-size: 36px;
    color: #3a4b7a;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .file-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .file-grid {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border-spacing: 10px;
    padding: 30px;
    text-align: right;
  }
  
  .file-item {
    display: flex;
    width: 150px;
    height: 150px;
    text-align: right;
    align-items: center;
    font-size: 14px;
    color: #6b77a1;
    cursor: pointer;
    transition: background-color 0.2s;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    position: relative;
  }
  .file-name{
    text-align: center;
    display: block;
  }

  .file-icon span{
    margin-bottom: 5px;
  }
  
  .file-item.selected {
    background: linear-gradient(135deg, #1abc9c, #0a3d62); /* Teal to Deep Blue */
    color: white;    
  }
  
  .file-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 28px;
    color: #6b77a1;
    background-image: url("../../assets/google-docs.png");
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .file-item:hover {
    background-color: #a6c8ff;
    transform: scale(1.1);
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  }
  .file-button.active:hover{
    background: linear-gradient(135deg, #3a4b7a, #5c6bc0); /* Different color for active button */
    color: white;
    
  }
  
  .logout {
    text-align: right;
    width: 100%; /* Ensure it aligns to the far right */
  }
  
  .logout-button {
    background: none;
    border: none;
    color: #6b77a1;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .logout-button:hover {
    color: #a6c8ff;
  }
  
  .action-buttons {
    
    text-align: center;
  }
  
  .start-job-button {
    padding: 8px 16px;
    
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  .start-job-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .start-job-button:not(:disabled) {
    background: linear-gradient(135deg, #5c6bc0, #7a8dc9); /* Purple to Blue */
    transition: all 0.3s ease-in-out;
  }
  .start-job-button:hover:not(:disabled) {
    background: linear-gradient(135deg, #1abc9c, #0a3d62); /* Teal to Deep Blue */
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .download-button {
    padding: 8px 16px;
    
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  .download-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .download-button:not(:disabled) {
    background: linear-gradient(135deg, #5c6bc0, #7a8dc9); /* Purple to Blue */
    transition: all 0.3s ease-in-out;
  }
  .download-button:hover:not(:disabled) {
    background: linear-gradient(135deg, #1abc9c, #0a3d62); /* Teal to Deep Blue */
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .logo-image {
    width: 300px;
    height: 300px;
    margin: 0px;
  }


  

  @media (max-width: 1100px) {
    .root {
      margin-top: 80px; /* Ensure content starts below navbar */
      padding: 10px; /* Reduce padding */
    }
  
    .myFilesPage {
      flex-direction: column;
      margin-top: 60px;
        padding: 10px;
    }
    .page-title {
      font-size: 24px; /* Reduce font size */
    }
  
    .file-grid-container {
      flex-direction: column; /* Stack logo and text vertically */
      align-items: center; /* Center align */
      width: 90%;
    }  
  
    .view-buttons button{
      max-width: 100%; /* Allow full width */
      padding: 10px;
    }

    .file-grid{
      max-width: 400%; /* Allow full width */
      padding: 20px;
      flex-direction: column;
      grid-template-columns: repeat(2, 1fr);

    }
    .file-item {
      padding: 10px;
    }
    .file-button {
      font-size: 14px; /* Reduce text size for readability */
      padding: 10px;
      width: 100%; /* Make the box take full width */
    }
  
    .start-job-button {
      width: 100%; /* Make the button full width */
    }
  }

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: load-spin 2s linear infinite;
  }

  @keyframes load-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }