/* MyFiles.css */
.my-files-content{
  background-image: url("../../assets/Background.jpg");
  background-size: cover;
}

.file-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px; /* Add this line to create space for the navbar */
  overflow: auto;
  overflow-x: hidden;
  }
  /* Page Layout */
.myFilesPage {
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the content */
  display: flex;
  height: 100vh;
  width: calc(100vw - 240px);
   /* Adjust this value based on the width of your navbar */
}
  .view-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }
  
  .view-buttons button {
    background: linear-gradient(135deg, #5c6bc0, #7a8dc9);    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3sease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;

  }
  
  .view-buttons button:hover {
    background: linear-gradient(135deg, #7a8dc9, #5c6bc0);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .delete-button{
    background: linear-gradient(135deg, #5c6bc0, #7a8dc9);    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3sease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }

  h3 {
    color: #6b77a1;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .tabs-wrapper {
    position: absolute; /* Change to absolute positioning */
    top: 30%; /* Align to the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-30%); /* Adjust for centering */
    display: flex;
    width: 30%; /* Adjust the width as needed */
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .tabs-background {
    position: absolute;
    width: 90%;
    height: 70px;
    background-color: #d7e5ff;
    border-radius: 50px;
    z-index: 0;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    z-index: 1; /* Ensures the buttons appear above the background */
  }
  
  .tab-button {
    background-color: #6b77a1;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #6b77a1;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-button.active {
    background-color: #a6c8ff;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .file-grid {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: #d7e5ff;
    border-radius: 10px;
  }
  
  .file-item {
    text-align: center;
    align-items: center;
    font-size: 14px;
    color: #6b77a1;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .file-icon span{
    margin-bottom: 5px;
  }
  
  .file-item.selected {
    background-color: #e6f3ff;
    border: 1px solid #1890ff;
  }
  
  .file-icon {
    background-color: #d7e5ff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 28px;
    color: #6b77a1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .file-icon:hover {
    background-color: #a6c8ff;
    transform: scale(1.1);
    color: #ffffff;
  }
  
  .logout {
    text-align: right;
    width: 100%; /* Ensure it aligns to the far right */
  }
  
  .logout-button {
    background: none;
    border: none;
    color: #6b77a1;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .logout-button:hover {
    color: #a6c8ff;
  }
  
  .action-buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  .start-job-button {
    padding: 8px 16px;
    background-color: #1890ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .start-job-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .start-job-button:hover:not(:disabled) {
    background-color: #40a9ff;
  }
  