#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Smooth transition for all buttons and hover effects*/
.file-button,
.view-buttons button,
.file-item,
.file-item:hover,
.file-button.active,
.file-button.active:hover,
.start-job-button:not(:disabled),
.start-job-button:hover:not(:disabled),
.logout-button {
  transition: all 0.4s ease-in-out; 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* svg {
  border: 1px solid #ccc;
  background: white;
  margin: 20px 0;
} */
